.device-power-cta.is-on {
  color: green;
}
.device-power-cta.is-off {
  color: red;
}
.device-power-cta.is-na {
  color: indigo;
}

.device-ping-status.is-ok {
  color: green;
}
.device-ping-status.is-ko {
  color: red;
}
.device-ping-status.is-na {
  color: indigo;
}